html
    head
        link(rel='stylesheet' href='./style.css' type='text/css')
        title='untitled - Paint'

    body
        div.container
            header
                div.window-bar
                    div.icon
                    div.title
                        a.filename='untitled'
                        a=' - Paint'
                div.tool-bar

            a=''