body{
    background-color: #dfdfdf;

    border-right: 1px solid black;
    border-bottom: 1px solid black;

    margin: 0;
    padding: 0;


    letter-spacing: 0.6px;
    transform: translateZ(0);
    font-size: 12px;
    font-family: 'MS Sans Serif';
}

.container {
    border: 1px solid white;
    border-bottom-color: #808080;
    border-right-color: #808080;

    margin: 1px;
    padding: 2px;
    background-color: #c0c0c0;

    height: calc(100% - 7px);
    width: calc(100% - 7px);
    position: absolute;
}

header .window-bar{
    width: 100%;
    height: 18px;

    /*background-color: #0000aa;//#1084d0*/
    background: linear-gradient(to right, rgba(0,0,170,1) 0%, rgba(16,131,208,1) 100%);

    -webkit-app-region: drag;
}

header .window-bar .icon{
    background-image: url(./assets/icons/favicon.png);
    height: 16px;
    width: 16px;

    margin: 1px 2px;
    float: left;
}

header .window-bar .title{
    line-height: 18px;
    font-weight: 600;
    color: white;
}

header .toolbar{
    height: 18px;
    margin: 1px 0;

     user-select: none;
     cursor: default;
}

header .toolbar .option{
    display: table;
    padding: 1px 3px;
    float: left;

    border: 1px solid #c0c0c0;
}
header .toolbar .option:hover{
    border: 1px solid white;
    border-bottom-color: #808080;
    border-right-color: #808080;
}

header .toolbar .option:active{
    padding: 2px 2px 0 4px;

    border: 1px solid white;
    border-top-color: #808080;
    border-left-color: #808080;
}

main{
    height: calc(100% - 26px - 72px);
}

main .toolbar{
    width: 56px;
    height: 100%;
    float: left;
}

main .canvas{
    width: calc(100% - 56px);
    height: 100%;
    float: right;

    background-color: #808080;
}




.underline{
    text-decoration: underline;
}